<li>
    <h2>__val__</h2>
    <div>
        {{ form_label(val.file) }}
        {{ form_errors(val.file) }}
        {{ form_widget(val.file) }}
    </div>

    <a href="#" class="remove_block new">Remove Image</a>
</li>