html {
  position: relative;
  min-height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4{
  font-size: 30px;
  margin-bottom:20px;
  font-family: 'Playfair Display', serif;
  color: #111;
}

header{
  height: 118px;
  background:#FFF;
  .contact{
    font-size:18px;
    padding-top:50px;
    .glyphicon{
      color: #a12825;
      padding:0 5px 0 15px;
    }
  }
}

.navbar{
  margin: 0;
  padding: 0;
  background:url("../images/nav-bg.png") repeat-x bottom;
  text-transform: uppercase;
  font-size: 12px;
  ul li{
    border-right: 1px solid #dbdbdb;
  }
}

.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display:block;
}
.dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
  float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}


/** PAGE **/
#page{
  background: #f1f1f1;
  .box{
    background: #FFF;
    padding:25px 10px;
    top:-30px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
  }
  strong,b{
    font-weight: bold;
  }
  td{padding: 20px;}
  tr:nth-child(even) {background-color: #f2f2f2}
  .page-header{
    background: url("../images/page-bg.png") repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top:40px;
    margin: 0;
  }
  h1{
    font-size:30px !important;
    color:#FFF;
    margin-bottom:40px;
    font-family: 'Open Sans', sans-serif;
    span{
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  .packages{
    border: 1px solid #dbdbdb;
    margin-bottom: 30px;
    min-height:260px;
    position: relative;
    text-align:center;
    font-size:14px;
    line-height:normal;
    p,img{
      width: 95%;
      margin:5px;
    }
    span{
      width: 100%;
      display:block;
      bottom:0;
      position: absolute;
      }
    a{
      font-weight: bold;
      border-top:1px solid #dbdbdb;
      width:100%;
      display: block;
      color: #a12825;
      background: #FFF;
      text-align: center;
      padding:8px 0;
      text-transform: uppercase;
      font-size: 11px;
      &:hover{
        text-decoration: none;
        background: #f5f5f5;
      }
    }
  }

  .right_box{
    border: 1px solid #dbdbdb;
    padding: 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.04);
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.04);
    h4{
      font-size:24px;
    }
    li{
      list-style: none;
      border-bottom: 1px solid #dbdbdb;
    }
    ul li a{
      display: block;
      color:#5e5e5e;
      text-decoration: none;
      padding:5px 5px;
      &:hover{
        //background: #f1f1f1;
        color: #9b2624;
      }
    }
    a::before{
      font-family: FontAwesome;
      content: "\f105";
      padding-right: 10px;
    }
  }
  .submit{

    width:150px;
    background:#5d9d43;
    cursor:pointer;
    border:none;
    color:#FFF;
    margin-left:60px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }

  .form{
    border-bottom: 1px solid #dbdbdb;
    padding-bottom:30px;
    overflow: hidden;
    //font-family: $open-sans !important;
    .clearfix{ margin-bottom:20px;}

    input.review-submit{ background:#f1f1f1; border:1px solid #dbdbdb; color: #111; padding: 0 20px;}

    .textarea{

      min-height:150px !important;
    }
  }
}


/* GALLERY MAIN
===========*/
#gallery-main {
  width: 100%;

  ul{
    border-bottom:1px solid #dbdbdb;
    padding:20px 0 30px 0;
    height:100%;
    overflow:hidden;
  }

  img {
    width: 72px;
    height: 62px;
  }
  ul > li {
    width: 84px;
    height: 74px;
    float: left;
    background: #FFF;
    padding: 5px;
    border: 1px solid #d5d4c8;
    margin-right: 11px;
    margin-bottom: 11px;
  }
  .clr_rght {
    margin-right: 0;
  }
  //ul li:nth-child(11n+11) {margin-right:0;}
}